############################
# Visual Studio
############################

.vs/
.vscode/

############################
# Build Folders
############################

bin/
obj/

############################
# User Specific Files
############################

*.user
*.suo
*.userosscache
*.sln.docstates

############################
# Logs
############################

*.log

############################
# Rider / ReSharper
############################

_ReSharper*/
*.DotSettings.user

############################
# NuGet
############################

packages/
*.nupkg

############################
# Publish
############################

publish/

############################
# SQL Server
############################

*.mdf
*.ldf

############################
# Environment Files
############################

.env
.env.*

############################
# Secrets
############################

appsettings.Development.json

############################
# OS Files
############################

Thumbs.db
Desktop.ini
.DS_Store